<a href="https://colab.research.google.com/github/ajeeshnadh/colab/blob/main/python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(10):
  print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
()

In [ ]:
word = "Remote internship"
for char in word:
  print (char)

R
e
m
o
t
e

i
n
t
e
r
n
s
h
i
p

In [ ]:
my_list= ["anc","xyz","dfg","rft","fgh","jkl"]
for item in my_list:
  if item == "anc": # Assuming you want to check for "anc"
    print ("Item found")
  else:
    print(item)

Item found
xyz
dfg
rft
fgh
jkl

In [ ]:
my_dict = {
    "name": "sherin",
    "age": 25,
    "course": "DSA"
}

In [ ]:
for k,v in my_dict.items():
  print(f"my {k} is {v}")

NameError: name 'my_dict' is not defined

In [ ]:
#grocery items
groceries = {"tomato":20, "onion":21, "chilli":60, "ginger":20}
budget = 121

In [ ]:
type(groceries)

list

In [ ]:
groceries[0]

'tomato'

In [ ]:

my_groceries_price= {
    "tomato": 10,
    "ginger": 21,
    "onion": 30,
    "chilli": 20
}
budget = 200
total_price = 111
my_list = []
for item, price in my_groceries.items():
  if price < budget and total_price + price <= budget:
    my_list.append(item)
    total_price += price
print("Selected items:", my_list)
print("Total price:", total_price)

Selected items: ['tomato', 'ginger', 'onion', 'chilli']
Total price: 192

In [ ]:
#In Range 1 to 100 fined number divisible by both 3 and 5
for i in range (1,100):
  if i%3==0 and i%5==0:
    print (i)

15
30
45
60
75
90

In [ ]:
A=1

while A < 10:
  print(A)
  A=A+2

else:
  print('you crossed the limit: ')

1
3
5
7
9
you crossed the limit:

In [ ]:
balance = 500
while balance > 300:
  print("You are rich****")
  balance = balance - 50
else:
  print ("You are poor :(")

You are rich****
You are rich****
You are rich****
You are rich****
You are poor :(

In [ ]:
Secret_num = 100
guss = int (input("Enter the secret number"))
while secret num !=guss (Secret_num < 200)

In [ ]:
password = 5643
attempts = 3
guessed = False

while attempts > 0 :
  guess = int(input("Guess the password: "))
  attempts -= 1
  if guess == password:
    # guessed = True
    print("You guessed the password!")
    break
  else:
    if attempts > 0:
      print(f"Incorrect password. You have {attempts} attempts left.")
    else:
      print("You ran out of attempts.")

Guess the password: 5643
You guessed the password!

In [ ]:
movie_ratings = {
    "7am Arivu": 1,
    "Black": 2,
    "Jilla": 3,
    "BigB": 4,
    "Master": 5,
    "Ronth": 1
}
highest_rating = max(movie_ratings.values())
highest_rated_movies = [movie for movie, rating in movie_ratings.items() if rating == highest_rating]

lowest_rating = min(movie_ratings.values())
lowest_rated_movies = [movie for movie, rating in movie_ratings.items() if rating == lowest_rating]

print(f"Movies with the highest rating ({highest_rating}): {highest_rated_movies}")
print(f"Movies with the lowest rating ({lowest_rating}): {lowest_rated_movies}")

Movies with the highest rating (5): ['Master']
Movies with the lowest rating (1): ['7am Arivu', 'Ronth']

In [ ]:
def function_name():

    pass

def greet(name):
    print(f"Hello, welcome to Kerala, {name}")

greet("Anandu")
greet("maya") # Corrected to pass only one argument
greet("Laya")
greet("mahi")

Hello, welcome to Kerala, Anandu
Hello, welcome to Kerala, maya
Hello, welcome to Kerala, Laya
Hello, welcome to Kerala, mahi

In [ ]:
num1= int(input of "Enter a number")
num2 =int(input of "Enter a second number")
multiply (num1,num2)
print (multiply)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-1804546148.py, line 1)

In [ ]:
bill_amount = 500
tip_percentage = 10%
tip_amount = bill_amount * tip_percentage
total_payment = bill_amount + tip_amount

print(f"The bill amount is: ${bill_amount}")
print(f"The tip amount is: ${tip_amount}")
print(f"The total payment is: ${total_payment}")

SyntaxError: invalid syntax (ipython-input-1607151797.py, line 2)

In [ ]:
def bill(amount):
  if amount > 500 and amount < 1000:
    total_amount = (0.15 * amount) + amount
  elif amount > 1000:
    total_amount = (0.25 * amount) + amount
  else:
    total_amount = (0.1 * amount) + amount
  return total_amount

a = int(input("Enter the bill amount:"))
total_paid = bill(a)
print(f"The total amount to be paid is: ${total_paid}")

Enter the bill amount:1240
The total amount to be paid is: $1550.0

In [ ]:
num_list = [12,4,5,7,8,13,10,19,21]

def average_even(numberlist):
  even_list = []
  for num in numberlist:
    if num % 2 == 0:
      even_list.append(num)

  if even_list:
    averageEven = sum(even_list) / len(even_list)
    print("Even numbers found:", even_list)
    print("Average of even numbers:", averageEven)
    return averageEven
  else:
    print("No even numbers found in the list.")
    return

average_even(num_list)

Even numbers found: [12, 4, 8, 10]
Average of even numbers: 8.5

8.5

In [ ]:
def sum_numbers(*args):
  print(type(args))
  total = 0
  for i in args:
    total += i
  print(total)

sum_numbers (7,8,9,4,3)

<class 'tuple'>
31

In [ ]:
def print_info(**args):
 for item,val in args.items():
  print(f"{item} is {val}")

print_info(name="Alan",Place="tvm", score=6)
print_info(name="Alan",place="tvm",Batch="DSA")

name is Alan
Place is tvm
score is 6
name is Alan
place is tvm
Batch is DSA

In [ ]:
def squire forum(x):
  y = x*x
  print(y)
  squire forum(10)
  squire + lambda x:x*x
  Squire (5)
  Add = lambda x, y: x + y

SyntaxError: expected '(' (ipython-input-951722762.py, line 1)

In [ ]:
class Animal:
  animal_type = "Dog"
  num_leg = 4
  mammal = "Yes"
  def sound(self):
    print ("Animal barks")
    Obj1 = Animal()
    Obj1.sound()

In [ ]:
class Person:
  place = "tvm"

  def __init__(self, name, age):
    self.name = name
    self.age = age

  def greet(self):
    return f"Hi, myself {self.name} and my age is {self.age} and I am from {self.place}"

obj1 = Person("laya", 25)
obj2 = Person("Mahesh", 26)

print(obj1.greet())
print(obj2.greet())

Hi, myself laya and my age is 25 and I am from tvm
Hi, myself Mahesh and my age is 26 and I am from tvm

In [ ]:
class Employee:
    def __init__(self, name, emp_id, salary):
        self.name = name
        self.emp_id = emp_id
        self.salary = salary

    def display_info(self):
        print(f"name: {self.name}")
        print(f"Employee ID: {self.emp_id}")
        print(f"Salary: {self.salary}")


class Manager(Employee):
    def __init__(self, name, emp_id, salary, dept, teamSize):
        super().__init__(name, emp_id, salary)
        self.dept = dept
        self.teamSize = teamSize

    def display_manager_info(self):
        self.display_info()
        print(f"Department: {self.dept}")
        print(f"Team Size: {self.teamSize}")


emp1 = Employee("john Doe", "12345", 50000)
emp1.display_info()

manager1 = Manager("Jane smith", "67890", 80000, "Sales", 10)
manager1.display_manager_info()

name: john Doe
Employee ID: 12345
Salary: 50000
name: Jane smith
Employee ID: 67890
Salary: 80000
Department: Sales
Team Size: 10

In [ ]:
readability PEP8 Style

SyntaxError: invalid syntax (ipython-input-2848795467.py, line 1)